apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.environmentPrefix }}-myapp-service
spec:
  selector:
    app: {{ .Values.environmentPrefix }}-myapp
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 30007